<div class="jumbotron">
  <h1>Welcome to the xlModel</h1>
  <h2>
    This is the home page for the
    <a href="http://xlmodel.herokuapp.com/">xlModel</a>
    website!
  </h2>
</div>

<div class="container">
<!-- 
            feature stuff here
-->
</div>

<div class="">
<!-- sign up -->
<div class="row">
  <div class="span6 offset3">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= label_tag :card_number, "Credit Card Number" %>
  <%= text_field_tag :card_number, nil, name: nil %>

  <%= label_tag :card_code, "Security Code (CCV)" %>
  <%= text_field_tag :card_code, nil, name: nil %>

  <%= label_tag :card_month, "Card Expiration" %>
  <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month" } %>
  <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  <div id="stripe_error">
        <noscript>JavaScript is not enable and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <%= f.hidden_field :token %>
    <div class="actions"><%= f.submit "Purchase now", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>

  <%= link_to "Purchase now!", '#', class: "btn btn-large btn-primary" %>

<%= link_to image_tag("xl.png", alt: "Excel", :height => 100), 'https://xlmodel.herokuapp.com/' %>