<%= javascript_include_tag "http://fortumo.com/javascripts/fortumopay.js" %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul> <% @user.errors.full_messages.each do |msg| %> <li><%= msg %></li> <% end %> </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field"> <%= f.label :name %> <%= f.text_field :name, :value => "John" , :autocomplete => :on %> </div>
    <div class="field"> <%= f.label :email %> <%= f.text_field :email, :value => "johnskilbeck@gmail.com", :autocomplete => :on %> </div>
    <%= label :payment_processor, 'Stripe' %>  
    <%= f.radio_button :payment_processor, 'stripe' %>
    <%= label :payment_processor, 'Pay by Mobile!' %>
    <%= f.radio_button :payment_processor, 'fortumo' %>
    <% if @user.ptoken.present? %> Credit card has been provided.
    <% else %>
  <% end %>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>
    <div class="actions">
      <%= f.submit "stripe", name: "commit", id: "stripe" %>
      <%= f.submit "fortumo", name: "commit" id: "fortumo" %>
    </div>
  </div>
<% end %>


